.formContainer {
  width: 100%;
}

.responsiveForm {
  display: flex;
}

.responsiveForm label {
  flex-grow: 1;
}

.responsiveForm input {
  flex-shrink: 1;
}

.warningText{
  font-weight: bold;
  color: crimson;
}

@media screen and (max-width: 980px) {
  .responsiveForm {
    flex-direction: column; 
  }
}
